#join h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #5B67AF;
    font-size: 55px;
    text-align: center;
    margin-top: 7%;
}

#joinImg {

    width: 50%;
    margin-left: 25%;
}

#joinText {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #555555;
    line-height: 30px;
    margin-bottom: 7%;
    direction: rtl;

}